html, body {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #333;
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: white;
    color: #555;
  }
}


.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 80px 1fr 9fr;
  grid-template-areas: "titel . dropdown"
  "gamelist content menue"
  "gamelist content .";
}

.titel {
  grid-area: titel;
}

.dropdown {
  grid-area: dropdown;
}

.gamelist {
  grid-area: gamelist;
}

.gamelist > ul {
  list-style: none;
}

.gamelist > ul > li {
  padding: 10px 5px 10px 5px;
}

.content {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content > canvas {
  width: 800px;
  height: 600px;
}

.menue {
  grid-area: menue;
}

/* Switch CSS */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}